.input{
    margin: 24px 0;
    border-radius: 10px;
}

.input label{
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
    color: #F8F8FF;
    font-weight: 700;
}

.input input{
    background-color: #F8F8FF;
    box-shadow: 10px 10px 30px  rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
}