.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header h1{
    color: #8D8484;
    font-size: 6vw;
    text-align: center;
}

.header span{
    color: #7F5AF0;
    font-size: 6vw;
}


@media (max-width: 768px) {
    .header {
        height: auto; 
    }

    .header h1 {
        font-size: 8vw; 
    }

    .header span {
        font-size: 8vw; 
    }
}
